Техническое задание на разработку мобильного приложения для заказа такси 
на платформе Android и iOS

Экран №2. Заказ такси
Перед началом пользования приложением необходимо выбрать город из 
предложенного списка. В списке городов находятся 3 города – Москва, 
Санкт-Петербург и Екатеринбург. После выбора города пользователь может 
вызвать такси, указав адрес отправления и адрес назначения. Есть 
возможность ввода нескольких адресов назначения (максимум 3 адреса). 
Указание маршрута можно сделать несколькими вариантами:
- указав адрес на карте, 
- взяв адреса из истории заказов, 
- указав адреса из списка любимых адресов, 
- через поиск адресов,
- через микрофон.
Приложение не позволяет указать маршрут дальностью 500 метров и ниже. 
После того, как пользователь указал маршрут, ему показывается конечная 
стоимость поездки. Конечная стоимость поездки зависит от дальности 
маршрута, тарифа, который выбрал пользователь, выбора дополнительных 
опций.  Цена 1 километра составляет 20 рублей. При этом минимальная 
стоимость заказа составляет 40 руб.  Пользователь может выбрать 3 
варианта тарифа – эконом, бизнес-класс и люкс. Эконом – не увеличивает 
базовую стоимость поездки. Бизнес-класс – увеличивает базовую стоимость 
поездки на 30%. Люкс увеличивает базовую стоимость поездки на 50% Также 
пользователь может выбрать дополнительные опции:
- наличие детского кресла – бесплатная опция
- перевозка животных – платная опция, +100 руб 
- багаж более 50 кг. – платная опция, +50 руб
- квитанция об оплате – бесплатная опция
- курение в машине – бесплатная опция
- оплата с помощью карты – бесплатная опция.
Цены могут быть скорректированы администратором в настройках (описание 
приложения для администрирования цен находится в отдельном документе). 
Пользователь при заказе такси может указать точную дату и время подачи 
такси.
